/* Shared Styles */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.card:hover {
  box-shadow: 4px 6px 4px 4px #00000040;
}
.card .btn:hover {
  background-color: #000000;
  cursor: pointer;
}
.badge {
  filter: drop-shadow(-4px 10px 4px #000000);
}
.img-1 {
  background-image: url("../assets/deal-bloom.png");
  width: 370px;
  height: 200px;
  background-repeat: no-repeat;
}
.img-2 {
  background-image: url("../assets/deal-ana.png");
  width: 370px;
  height: 200px;
  background-repeat: no-repeat;
}
.img-3 {
  background-image: url("../assets/deal-zabo.png");
  width: 370px;
  height: 200px;
  background-repeat: no-repeat;
}
.join {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
}
footer ul a:hover {
  color: #000000;
}
