/* Shared Styles */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Our Plants Section Styles */
.card:hover {
  box-shadow: 4px 6px 4px 4px #00000040;
}
.card .btn:hover {
  background-color: #000000;
  cursor: pointer;
}

/* Plants Lover Section Styles */
.badge {
  filter: drop-shadow(-4px 10px 4px #000000);
}

/* Join Section Styles */
.join {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
}

/* Footer Section Styles */
footer ul a:hover {
  color: #000000;
}
